<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ly.cc" >

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.custom_controls.android5p0.recyclerView.RecyclerViewActivity" />
        <activity android:name=".view.custom_controls.android5p0.NewControlsActivity" />
        <activity
            android:name=".view.custom_controls.listview.ListViewListActivity"
            android:label="@string/title_activity_list_view_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.function.GravitySensorActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".view.custom_controls.listview.ListViewBothActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".view.custom_controls.listview.ListViewHeaderActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:label="@string/title_activity_list_view_header" />
        <activity
            android:name=".view.custom_controls.listview.HorizontalListViewActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:label="@string/title_activity_horizontal_list_view" />
        <activity
            android:name=".view.custom_controls.listview.swipe.activities.SwipeListViewActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:label="@string/title_activity_swipe_list_view" />
        <activity android:name=".view.custom_controls.listview.swipe.activities.SettingsActivity" />
        <activity
            android:name=".view.custom_controls.toggleBtn.ToggleBtnMainActivity"
            android:label="ToggleBtnMainActivity" />
        <activity
            android:name=".view.custom_controls.timeline.TimelineListActivity"
            android:label="@string/title_activity_timeline_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.custom_controls.timeline.HorizontalTimelineActivity"
            android:label="HorizontalTimelineActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".view.custom_controls.timeline.VerticalTimelineActivity" />
        <activity
            android:name=".view.custom_controls.slidemenu.SlideMenuQQ5Activity"
            android:label="@string/title_activity_slide_menu_qq5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.custom_controls.imagePainting.ImagePaintingActivity"
            android:label="@string/title_activity_image_painting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.custom_controls.imagePainting.RoundImageByBitmapShaderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.custom_controls.imagePainting.RoundImageByXfermodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.framework.GsonActivity"
            android:label="@string/title_activity_gson" >
        </activity>
    </application>

</manifest>
