<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ly.cc" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ActionBarTheme" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a7f1ab49955fa876cde2ee18efba69d4" />

        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.custom.android5p0.recyclerView.RecyclerViewActivity" />
        <activity android:name=".view.activity.custom.android5p0.NewControlsActivity" />
        <activity
            android:name=".view.activity.custom.listview.ListViewListActivity"
            android:label="@string/title_activity_list_view_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.function.GravitySensorActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".view.activity.custom.listview.ListViewBothActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".view.activity.custom.listview.ListViewHeaderActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:label="@string/title_activity_list_view_header" />
        <activity
            android:name=".view.activity.custom.listview.HorizontalListViewActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:label="@string/title_activity_horizontal_list_view" />
        <activity
            android:name=".view.activity.custom.listview.swipe.activities.SwipeListViewActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:label="@string/title_activity_swipe_list_view" />
        <activity android:name=".view.activity.custom.listview.swipe.activities.SettingsActivity" />
        <activity
            android:name=".view.activity.custom.toggleBtn.ToggleBtnMainActivity"
            android:label="ToggleBtnMainActivity" />
        <activity
            android:name=".view.activity.custom.timeline.TimelineListActivity"
            android:label="@string/title_activity_timeline_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.custom.timeline.HorizontalTimelineActivity"
            android:label="HorizontalTimelineActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".view.activity.custom.timeline.VerticalTimelineActivity" />
        <activity
            android:name=".view.activity.custom.slidemenu.SlideMenuQQ5Activity"
            android:label="@string/title_activity_slide_menu_qq5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.custom.imagePainting.ImagePaintingActivity"
            android:label="@string/title_activity_image_painting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.custom.imagePainting.RoundImageByBitmapShaderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.custom.imagePainting.RoundImageByXfermodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.framework.GsonActivity"
            android:label="@string/title_activity_gson" />
        <activity
            android:name=".view.activity.custom.imagePainting.ImageColorChangeActivity"
            android:label="@string/title_activity_image_color_change" />
        <activity android:name=".view.activity.custom.imagePainting.ImageMatrixChangeActivity" />
        <activity
            android:name=".view.activity.custom.imagePainting.ColorMatrixActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.custom.imagePainting.PixelsEffectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.custom.imagePainting.PrimaryColorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.custom.imagePainting.ImageMatrixTestActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.custom.imagePainting.RoundRectXfermodTestActivity" />
        <activity android:name=".view.activity.custom.imagePainting.BitmapShaderTestActivity" />
        <activity android:name=".view.activity.custom.imagePainting.ReflectViewTestActivity" />
        <activity android:name=".view.activity.custom.imagePainting.MeshViewTestActivity" />
        <activity
            android:name=".view.activity.thirdsdk.FaceppTestYourFaceActivity_"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:label="@string/title_activity_facepp_test_your_face" />
        <activity android:name=".view.activity.custom.android5p0.flowlayout.FlowActivity" />
        <activity
            android:name=".view.activity.custom.imagePainting.ShapeImageViewActivity"
            android:label="@string/title_activity_shape_image_view" />
        <activity
            android:name=".view.activity.thirdsdk.amap.NetLocationActivity"
            android:label="@string/title_activity_shape_image_view" />
        <activity
            android:name=".view.activity.thirdsdk.amap.AMapLocationActivity"
            android:label="AMapLocationActivity" />
        <activity
            android:name=".view.activity.thirdsdk.amap.CurrentWeatherReportActivity"
            android:label="CurrentWeatherReportActivity" />
        <activity
            android:name=".view.activity.thirdsdk.amap.FutureWeatherReportActivity"
            android:label="FutureWeatherReportActivity" />
        <activity
            android:name=".view.activity.thirdsdk.amap.GPSLocationActivity"
            android:label="GPSLocationActivity" />
        <activity
            android:name=".view.activity.custom.android5p0.recyclerView2.HomeActivity"
            android:label="HomeActivity" />
        <activity
            android:name=".view.activity.custom.android5p0.recyclerView2.StaggeredGridLayoutActivity"
            android:label="StaggeredGridLayoutActivity" />
        <activity
            android:name=".view.activity.custom.android5p0.ProgressBarActivity"
            android:label="ProgressBarActivity" />
        <activity
            android:name=".view.activity.custom.viewpager.ViewPagerWithTranformAnimActivity"
            android:label="@string/title_activity_view_pager_with_tranform_anim" />
        <activity
            android:name=".view.activity.custom.viewpager.JazzyViewPagerTestActivity"
            android:label="@string/title_activity_jazzy_view_pager_test"
            android:theme="@style/Base.TextAppearance.AppCompat.Title.Inverse" />
        <activity
            android:name=".view.activity.custom.android5p0.MaterialDesignActivity"
            android:label="MaterialDesignActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.custom.viewpager.ViewPagerTestActivity"
            android:label="@string/title_activity_view_pager_test" />
        <activity
            android:name=".view.activity.custom.viewpager.SmartTagLayoutActivity"
            android:label="@string/title_activity_smart_tag_layout" />
        <activity
            android:name=".view.activity.framework.RxAndroidActivity"
            android:label="@string/title_activity_rx_android" />
        <activity android:name=".view.activity.custom.listview.CircleRefreshListViewActivity" />
        <activity android:name=".view.activity.function.PlayVideoListActivity" />
        <activity
            android:name=".view.activity.function.PlayVideoByVideoViewActivity"
            android:label="@string/title_activity_play_video_by_video_view" />
        <activity
            android:name=".view.activity.function.PlayVideoByVMediaPlayerActivity"
            android:label="PlayVideoByVMediaPlayerActivity" />
    </application>

</manifest>
